@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./lib/slick.min.css";
@import "./lib/slick-theme.min.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: theme(colors.orange.500);
  --color-secondary: theme(colors.neutral.900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}