@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: theme(colors.canary.500);
  --color-secondary: theme(colors.neutral.900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.job {
  width: 30vw;
  height: 400px;
  top: -80px;
  z-index: 20;
}

.job::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  z-index: -1;
  background: #16181b;
  border-radius: inherit;
}

.job.left {
  left: calc(-30vw - 20px);
}

.job.right {
  padding-left: 60px;
  right: calc(-30vw - 20px);
}